* {
  box-sizing: border-box;
}

html,
body {
  background: #c5e4ae;
  background: linear-gradient(90deg, #c5e4ae 0%, #e4f3f3 50%, #c5e4ae);
  height: 100%;
  margin: 0px;
  padding: 0;
  font-family: "Verdana", sans-serif;
}

h1 {
  font-family: "Verdana";
  text-align: center;
  color: #445c4c;
}

.container {
  max-width: 400px;
  margin: 70px auto;
  padding: 26px;
  border: 6px solid #334533;
  border-radius: 18px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  height: 54%;
  animation: breathing-color 3s ease-in-out infinite;
}

@keyframes breathing-color {
  0% {
    background-color: #c5e4ae;
  }
  50% {
    background-color: #e0f8cd;
  }
  100% {
    background-color: #c5e4ae;
  }
}

.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  display: inline-block;
  border: 4px solid #215728;
  border-radius: 180px;
  box-sizing: border-box;
}
.container button[type="submit"] {
  margin: 8px;
  background-color: #215728;
  color: #fff;
  padding: 12px 20px;
  border: 4px solid #215728;
  margin-left: 12px;
  border-radius: 180px;
  cursor: pointer;
  float: right;
}
.container button[type="submit"]:hover {
  background-color: #508068;
}
.error {
  color: #af4242;
  background-color: #fde8ec;
  padding: 10px;
  display: block;
  transform: translateY(-20px);
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 180px;
  border: 4px solid #cf1e1e;
}
a {
  text-decoration: none;
  font-family: "Verdana";
  color: black;
  font-weight: bold;
}
p {
  font-family: "Verdana";
  color: black;
}
