* {
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: #c5e4ae;
}
.container {
  max-width: 1400px;
  margin: 35px auto;
  padding: 26px;
  border: 4px solid #334533;
  border-radius: 18px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #508068;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: #334533;
  text-shadow: 0px 10px 25px rgb(39, 67, 36);
}
.profimg {
  width: 150px;
  height: 150px;
  margin-top: 0.1rem;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  border-width: 2px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.container h3{
    margin:20px;
    font-size: 30px;
}
.container h4 {
    margin-right:auto;
    margin-left:200px ;
    font-size: 25px;
    padding:20px;
}
button {
    align-items: right;
    margin-right: 20px;
    width:100px;
    height:40px;
}
.buttons{
    display: flex;
    margin-left:auto;
}
.buttons #edit {
  background-color:#7faa75;
  border: none ;
  border-radius: .3rem;
  width: min-content;
  color: white;
  padding: 4px 31px;
  transition: 0.3s;
  font-weight: 500;
}
.buttons #edit:hover{
  background-color:#617f5a;
  color: white;
}