body {
}
.content-container {
  display: flex;
}
// Sidebar
.sidebar {
  display: flex;
  padding: 1rem;
  background-color: #508068;
  flex-direction: column;
  width: max(30%, 400px);
  height: 100vh;
  gap: 1rem;
}

.links {
  padding: 0rem 2rem;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1.5rem;
    justify-content: center;
    padding-inline-start: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  a {
    color: #111111; /* Change link color to red */
    text-decoration: none; /* Remove underline */
  }

  li {
    background-color: #c5e4ae;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
  }
  li:hover {
    background-color: #ddead1;
  }
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.workspace {
  color: white;
  padding: 0.2rem 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// content

.content {
  background-color: #c5e4ae;
  width: 100%;
  padding: 2.5rem;
}

// templates.html
.categories-featured {
  .container {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
}

.templates-new {
  margin-top: 3rem;
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
}

// board.html
.workspaces-user,
.templates-popular {
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
}

.workspaces-user {
  margin-top: 3rem;
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
}
