@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
}
.content-container {
  display: flex;
  height: 100%;
}
// Sidebar
.sidebar {
  display: flex;
  padding: 1rem;
  background-color: #508068;
  flex-direction: column;
  width: max(30%, 400px);
  height: 100vh;
  gap: 1rem;
}

.links {
  padding: 0rem 2rem;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1.5rem;
    justify-content: center;
    padding-inline-start: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
  a {
    color: #111111; /* Change link color to red */
    text-decoration: none; /* Remove underline */
  }

  li {
    background-color: #c5e4ae;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 2rem;
  }
  li:hover {
    background-color: #ddead1;
  }
}
hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.workspace {
  color: white;
  padding: 0.2rem 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// content

.content {
  background-color: #c5e4ae;
  width: 100%;
  padding: 2.5rem;
  a {
    text-decoration: none;
  }
}

// templates.html
.categories-featured {
  .container {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

.templates-new {
  margin-top: 3rem;
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
}

// board.html
.workspaces-user,
.templates-popular {
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

.workspaces-user {
  margin-top: 3rem;
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

.recent-works {
  margin-top: 12rem;
  .container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}

.schedule {
  margin-top: 1.5rem;
  display: flex;
  gap: 4rem;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .deadline {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5rem;
    width: 400px;
    color: white;
    background-color: #508068;
    padding: 1rem;
    padding-top: 1.5rem;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
  }
  .deadline :nth-child(odd) {
    color: #f1c50e;
  }
  .card {
    color: white;
    background-color: #508068;
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }

  .alert {
    width: 430px;
    background-color: #ddead1;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }
  .alert :nth-child(2) {
    margin-top: 1rem;
    font-weight: lighter;
    color: #db7475;
  }

  .sched-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
    button {
      color: white;
      background-color: #335b38;
      border-radius: 2rem;
      padding: 0.8rem 1.7rem;
      border: none;
      font-weight: bold;
    }
    button:hover {
      background-color: #508068;
    }
  }
}

.category-btn {
  background-color: #335b38;
  color: white;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 0.95rem;
  margin-left: 8px;
}
